global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend primary_write
    bind 0.0.0.0:5000
    default_backend patroni_primary

frontend replica_read
    bind 0.0.0.0:5001
    default_backend patroni_replicas

frontend prometheus_metrics
    bind 0.0.0.0:8404
    mode http
    http-request use-service prometheus-exporter if { path /metrics }
    no log

backend patroni_primary
    option httpchk GET /master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server city_a ${DB_HOST_A}:6432 check port 8008
    server city_b ${DB_HOST_B}:6432 check port 8008

backend patroni_replicas
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server city_a ${DB_HOST_A}:6432 check port 8008
    server city_b ${DB_HOST_B}:6432 check port 8008
