[req]
distinguished_name = dn
x509_extensions = v3_req
prompt = no

[dn]
CN = minio-primary

[v3_req]
subjectAltName = @alt_names
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = minio-primary
DNS.2 = minio-secondary
